

<div class="row-fluid" id="alert-row">
	<div class="span1"></div>
	<div class="span10">
		<div class="row-fluid" style="border-bottom: 1px dashed black; margin-bottom: 25px;">
			<div class="span12">
				<h4>List of Questions</h4>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<table id="questionlist" class="table table-bordered">
					<tr><td>Test #</td><td>Section</td><td>Question #</td></tr>
					<% @questions.each do |question| %>
					<tr>
						<td><%= question.test_number %></td>
						<td><%= question.section %></td>
						<td><%= question.question_number%></td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
		
		<div class="row-fluid" style="border-bottom: 1px dashed black; margin-bottom: 25px;">
			<div class="span12">
				<h4>Add New Question</h4>
			</div>
		</div>
		
		<div class="row-fluid">
		</div>
				
		
		
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Select Test</strong>
			</div>
			<div class="span4">
				<select id="testnumber"><% (1..@maxtest+1).each do |test|%>
					<option value=<%=test%>>Test <%=test%></option>
					<%end%></select>
			</div>
			
		</div>
		
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Select Section #</strong>
			</div>
			<div class="span4">
			  <select id="section">
				<option value="math">Math</option>
				<option value="science">Science</option>
				<option value="reading">Reading</option>
				<option value="english">English</option>
			  </select>
			</div>
		</div>
		
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Select Question #</strong>
			</div>
			<div class="span4">
				<input id="questionnumber" value="<%= @maxquestion['math']+1 %>" disabled="disabled">
			</div>
			
		</div>
		
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Select Page #</strong>
			</div>
			<div class="span4">
			  <select id="pagenumber">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			  </select>
			</div>
			
			<div class="span4">
				<button class="btn btn-success" id="view-page-button">View Page</button>
			</div>
			
		</div>
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Select Answer Choice 1</strong>
			</div>
			<div class="span4">
			  <select id="choice1">
				  <% ('A'..'W').each do |letter|%>
				  <option value="<%=letter%>"><%=letter%></option>
				  <%end%>
			  </select>
			</div>
			<div class="span2 output" id="choice-2-span">Choice 2=>B</div>
			<div class="span1 output" id="choice-3-span">3=>C</div>
			<div class="span1 output" id="choice-4-span">4=>D</div>
		</div>
		
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Correct Answer</strong>
			</div>
			<div class="span4">
			  <select id="correctanswer">
				<option value="1">A</option>
				<option value="2">B</option>
				<option value="3">C</option>
				<option value="4">D</option>
			  </select>
			</div>
			
		</div>
		
		<!--hidden inputs for max question for each section-->
		
		<% @maxquestion.each do |k, v| %>
			<input type="hidden" id="maxquestion-hidden-input-<%= k %>" value="<%= v %>">
		<% end %>
		
		
		<!--end hidden inputs-->
		
		
		
		<div class="row-fluid">
			<div class="span12">
				<button id="addquestion" class="btn btn-primary">Add Question</button>
			</div>
		</div>
		
		
		

	</div>
	<div class="span1"></div>
</div>

