

<div class="row-fluid" id="alert-row">
	<div class="span1"></div>
	<div class="span10">
		
		<div class="row-fluid">
			<div class="span12">
				<button id="reveal-new-question-button" class="btn btn-primary">
					Add Question
				</button>
			</div>
		</div>
		
		
		<div class="row-fluid" style="margin-top: 10px;">
			<div class="span12">
				<table id="questionlist" class="table table-bordered">
					<thead>
						<tr style="font-weight: bold;">
							<td>Test </td>
							<td>Section</td>
							<td>Question</td>
							<td>Page</td>
							<td>Choices</td>
							<td>Correct Choice</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
					<% @questions.each do |question| %>
					<tr questionid=<%= question.id %> secname="<%= question.section %>" pgnum="<%= question.page %>">
						<td>
							<%= question.test_number %>
						</td>
						<td>
							<%= question.section.titlecase %>
						</td>
						<td><%= question.question_number%></td>
						<td>
							<span class="viewmode-<%= question.id%>">
								<a 
									href="#" 
									linksection="<%= question.section %>"
									linkpage="<%= question.page %>"
									class="mod-view-page-link" 
									q_id="<%= question.id %>"
								>
									<%= question.page %>
								</a>
							</span>
							
						<span class="editmode-<%= question.id %> hidden">
  			  			  <select 
						  	class="veryshortbox"
							qid=<%= question.id %>
							fieldtype="page"
						  >
  			  				  <% (1..question.maxpage.to_i).each do |page| %>
  			  				  	<option value=<%=page %> <%= "selected=selected" if page==question.page%>>
									<%= page %>
								</option>
  			  				  <% end %>
  			  			  </select>
	  					<button class="btn btn-mini btn-primary viewpagebtn" qid="<%= question.id %>">View Page</button>
						  
					  	</span>
						  
						</td>
						<td>
						<span class="viewmode-<%= question.id %>">
							<% (0..question.num_ans_choices-1).each do |n| %>
							<% if n+1==question.correct_ans%>
								<span style="font-weight: bold;">
							<% else %>
								<span>
							<% end %>
								<%= @alphabetArray[@alphabetOrderHash[question.ans_choice_1]+n]%>
							</span>
							<% end %>
						</span>
						
						<span class="editmode-<%= question.id %> hidden">
  			  			  <select class="shortbox" qid=<%= question.id %> fieldtype="answerchoices">
  			  				  <% @answerChoiceOptions.each do |choice| %>
  			  				  	<option value="<%=choice%>" <%= "selected=selected" if choice==question.choiceList %>>
									<%=choice%>
								</option>
  			  				  <%end%>
  						  </select>
					  </span>
							
						</td>
						<td>
							<span class="viewmode-<%= question.id %>">
								<%= question.rightChoice %>
							</span>
							<span class="editmode-<%= question.id %> hidden">
	  			  			  	<select class="shortbox" qid=<%= question.id %> fieldtype="correctanswer">
	  			  			  		<% question.correctAnswerOptions.each_with_index do |k,v|%>
										<option value=<%=v+1 %> <%="selected=selected" if v+1==question.correct_ans %>>
											<%= k %>
										</option>
									<% end %>
	  			  			  	</select>
							</span>
							
							
						</td>
						<td>
							<span class="viewmode-<%= question.id %>">
							<%= link_to "Explanation", explanation_path(question.id), class: "view-explanation-link", questionid: question.id %>
							</span>
							<span class="editmode-<%= question.id %> hidden">
							<%= link_to "Edit explanation", explanation_edit_path(question.id), class: "view-explanation-link", questionid: question.id %>
							</span>
						</td>
						<td>
							<button class="btn btn-primary btn-mini editQuestion">Edit</button>
							<% if question.question_number==@maxquestion[question.section] %>
								<button class="btn btn-danger btn-mini deleteQuestion">Delete</button>
							<% end %>
						</td>
					</tr>
					<% end %>
					
					<!--add another row for adding a new question-->
					
					<tr questionid="new" id="new-question-row" class="hidden">
						<td>
							<select id="testnumber" class="shortbox">
								<% (1..@maxtest+1).each do |test|%>
									<option value=<%=test%>>Test <%=test%></option>
								<%end%>
							</select>
						</td>
						<td>
			  			  <select id="section" class="shortbox">
			  				<option value="english" selected="selected">English</option>
			  				<option value="math">Math</option>
			  				<option value="reading">Reading</option>
			  				<option value="science">Science</option>
			  			  </select>
						</td>
						<td>
							<input 
								id="questionnumber" 
								value="<%= @maxquestion['english']+1 %>" 
								disabled="disabled"
								class="shortbox"
							>
						</td>
						<td>
			  			  <select id="pagenumber" class="veryshortbox">
			  				  <% (1..@default_section_maxpage.to_i).each do |page| %>
			  				  	<option value=<%=page %>><%= page %></option>
			  				  <% end %>
			  			  </select>
		  					<button class="btn btn-mini btn-primary" id="view-page-button">View Page</button>
						</td>
						<td>
			  			  <select id="choice1" class="shortbox">
			  				  <% @answerChoiceOptions.each do |choice| %>
			  				  	<option value="<%=choice%>"><%=choice%></option>
			  				  <%end%>
						  </select>
						</td>
						<td>
			  			  <select id="correctanswer" class="shortbox">
			  				<option value="1">A</option>
			  				<option value="2">B</option>
			  				<option value="3">C</option>
			  				<option value="4">D</option>
			  			  </select>
						</td>
						<td>
							<button class="btn btn-primary btn-mini" id="save-new-question-button">save</button>
							<button class="btn btn-danger btn-mini" id="cancel-new-question">cancel</button>
						</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		
		<!--row for scrolling through pages when adding a new question-->			
		<div class="row-fluid hidden" 
			style="border-top: 1px dashed black; padding-top: 15px; margin-top: 5spx;" 
			id="modify-page-image-row"
		>
			<div class="span12">
				<div class="row-fluid">
					<div class="span5"></div>
					<div class="span2">
						<button class="btn btn-primary" id="modify-image-prev-page">Prev</button>
						<button class="btn btn-primary" id="modify-image-next-page" style="float: right;">Next</button>
					</div>
					<div class="span5"></div>
				</div>
				<div class="row-fluid">
					<div class="span12"><%= image_tag @default_section_pageimage, size: "950x110", id: "q-mod-img" %></div>
				</div>
			</div>
		</div>
		
		<!--row for scrolling through pages when modifying an existing question-->
		<div class="row-fluid hidden" 
			style="border-top: 1px dashed black; padding-top: 15px; margin-top: 20px;" 
			id="modify-existing-page-image-row"
		>
			<div class="span12">
				<div class="row-fluid">
					<div class="span5"></div>
					<div class="span2">
						<button 
							class="btn btn-primary" 
							id="modify-exst-image-prev-page"
							qid="none"
						>
							Prev
						</button>
						<button 
							class="btn btn-primary" 
							id="modify-exst-image-next-page" 
							style="float: right;"
							qid="none"
						>
							Next
						</button>
					</div>
					<div class="span5"></div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<%= image_tag @default_section_pageimage, size: "950x110", id: "q-mod-exst-img" %>
					</div>
				</div>
			</div>
		</div>
						
		<!--hidden inputs for max question for each section-->
		
		<% @maxquestion.each do |k, v| %>
			<input type="hidden" id="maxquestion-hidden-input-<%= k %>" value="<%= v %>">
		<% end %>
		
		<!--hidden input for maximum page-->
		<input type="hidden" id="modify-maxpage" value=<%= @default_section_maxpage %>>
		<!--end hidden inputs-->	
		
		<!--hidden input for maximum page for each section-->	
		<% @maxpage_hash.each do |k,v| %>
			<input type="hidden" id="maxpage-<%= k %>" value="<%= v%>">
		<% end %>

		

	</div>
	<div class="span1"></div>
</div>

