

<div class="row-fluid" id="alert-row">
	<div class="span1"></div>
	<div class="span10">
		<div class="row-fluid" style="border-bottom: 1px dashed black; margin-bottom: 25px;">
			<div class="span12">
				<h4>List of Questions</h4>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<table id="questionlist" class="table table-bordered">
					<tr style="font-weight: bold;">
						<td>Test </td>
						<td>Section</td>
						<td>Question</td>
						<td>Page</td>
						<td></td>
					</tr>
					<% @questions.each do |question| %>
					<tr>
						<td><%= question.test_number %></td>
						<td><%= question.section.titlecase %></td>
						<td><%= question.question_number%></td>
						<td>
							<a 
								href="#" 
								linksection="<%= question.section %>"
								linkpage="<%= question.page %>"
								class="mod-view-page-link" 
								q_id="<%= question.id %>"
							>
								<%= question.page %>
							</a>
						</td>
						<td>
							<button class="btn btn-primary btn-mini">Edit</button>
							<% if question.question_number==@maxquestion[question.section] %>
								<button class="btn btn-danger btn-mini">Delete</button>
							<% end %>
						</td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
		
		<div class="row-fluid" style="border-bottom: 1px dashed black; margin-bottom: 25px;">
			<div class="span12">
				<h4>Add New Question</h4>
			</div>
		</div>
		
		<div class="row-fluid">
		</div>
				
		
		
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Select Test</strong>
			</div>
			<div class="span4">
				<select id="testnumber"><% (1..@maxtest+1).each do |test|%>
					<option value=<%=test%>>Test <%=test%></option>
					<%end%></select>
			</div>
			
		</div>
		
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Select Section #</strong>
			</div>
			<div class="span4">
			  <select id="section">
				<option value="math">Math</option>
				<option value="science">Science</option>
				<option value="reading">Reading</option>
				<option value="english">English</option>
			  </select>
			</div>
		</div>
		
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Select Question #</strong>
			</div>
			<div class="span4">
				<input id="questionnumber" value="<%= @maxquestion['math']+1 %>" disabled="disabled">
			</div>
			
		</div>
		
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Select Page #</strong>
			</div>
			<div class="span4">
			  <select id="pagenumber">
				  <% (1..@default_section_maxpage.to_i).each do |page| %>
				  	<option value=<%=page %>><%= page %></option>
				  <% end %>
			  </select>
			</div>
			
			<div class="span4">
				<button class="btn btn-success" id="view-page-button">View Page</button>
			</div>
		</div>
		
		<div class="row-fluid hidden" 
			style="margin-top: 25px; border-top: 1px dashed black; padding-top: 15px;" 
			id="modify-page-image-row"
		>
			<div class="span12">
				<div class="row-fluid">
					<div class="span5"></div>
					<div class="span2">
						<button class="btn btn-success" id="modify-image-prev-page">Prev</button>
						<button class="btn btn-success" id="modify-image-next-page" style="float: right;">Next</button>
					</div>
					<div class="span5"></div>
				</div>
				<div class="row-fluid">
					<div class="span12"><%= image_tag @default_section_pageimage, size: "950x110", id: "q-mod-img" %></div>
				</div>
			</div>
		</div>
		
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Select Answer Choice 1</strong>
			</div>
			<div class="span4">
			  <select id="choice1">
				  <% ('A'..'W').each do |letter|%>
				  <option value="<%=letter%>"><%=letter%></option>
				  <%end%>
			  </select>
			</div>
			<div class="span2 output" id="choice-2-span">Choice 2=>B</div>
			<div class="span1 output" id="choice-3-span">3=>C</div>
			<div class="span1 output" id="choice-4-span">4=>D</div>
		</div>
		
		<div class="row-fluid" style="margin-top:25px">
			<div class="span2">
				<strong>Correct Answer</strong>
			</div>
			<div class="span4">
			  <select id="correctanswer">
				<option value="1">A</option>
				<option value="2">B</option>
				<option value="3">C</option>
				<option value="4">D</option>
			  </select>
			</div>
			
		</div>
		
		<!--hidden inputs for max question for each section-->
		
		<% @maxquestion.each do |k, v| %>
			<input type="hidden" id="maxquestion-hidden-input-<%= k %>" value="<%= v %>">
		<% end %>
		
		<!--hidden input for maximum page-->
		<input type="hidden" id="modify-maxpage" value=<%= @default_section_maxpage %>>
		<!--end hidden inputs-->
		
		
		
		<div class="row-fluid">
			<div class="span12">
				<button id="addquestion" class="btn btn-primary">Add Question</button>
			</div>
		</div>
		
		
		

	</div>
	<div class="span1"></div>
</div>

