<div class="row-fluid toppadding">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<div class="row-fluid hidden" id="alert-row">
			<div class="alert alert-dismissable">
			  <button type="button" id="dismiss-alert" class="close">&times;</button>
			  <span id="alert-text">TEXT</span>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="col-xs-12">
				<p></p>
				<button class="btn btn-primary" id="add-user-button">Add User</button>
				<p></p>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="col-xs-12">
				<table class="table table-bordered" id="user-modify-table">
					<tr>
						<td>Email Address</td>
						<td>Username</td>
						<td>Role</td>
						<td>Temporary Password</td>
						<td></td>
					</tr>
					<% @users.each do |user| %>
						<tr userid=<%= user.id %>>
							<td class="user-mod-email"><%= user.email %></td>
							<td class="user-mod-username"><%= user.username %></td>
							<td class="user-mod-role"><%= user.role %></td>
							<td class="user-mod-temppass"></td>
							<td>
								<button class="btn btn-mini btn-primary editUser">Edit</button>
								<button class="btn btn-mini btn-danger deleteUser">Delete</button>
							</td>
						</tr>
					<% end %>
					<!--extra row for creating a new user -->
					<tr id="new-user-row" class="hidden">
						<td><input id="new-user-email" type="text"></td>
						<td><input id="new-user-username" type="text"></td>
						<td>
							<select id="new-user-role">
								<option selected value="student">student</option>
								<option value="admin">admin</option>
							</select>
						</td>
						<td>
							<input type="text" id="new-user-temppass" value=<%= @new_user_pwd %>>
						</td>
						<td>
							<button id="save-new-user" class="btn btn-mini btn-primary">Save</button>
							<button id="cancel-new-user" class="btn btn-mini btn-danger">Cancel</button>
						</td>
					</tr>
				</table>
			</div>
		</div>

	</div>
	<div class="col-xs-1"></div>
</div>
</div>