<div class="container-fluid">
	<div class="row-fluid toprow">
		<div class="span12">
			<div class="alert alert-info" style="font-size: 120%;">
				<span style="text-decoration: underline;"> Decide with Aubrey what should go here</span><br><br>
				<ul>
					<li># of students who have used the portal</li>
					<li>% of students who have used the portal</li>
					<li>average # of questions answered per student</li>
					<li>
						Any other metrics Aubrey or Griffith board would need to see to evaluate portal effectiveness/impact
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="row-fluid" style="border-bottom: 1px dashed; margin-top: 25px;">
		<div class="span12" style="font-size: 200%; font-weight: bold;">
			Student Usage Report
		</div>
	</div>
	
	<div class="row-fluid" style="margin-top: 25px;">
		<div class="span12">
			<table class="table table-bordered">
				<tr><td></td><td>Today</td><td>Last Week</td><td>Last Month</td></tr>
				<tr>
					<td>Total Students On Portal</td>
					<td><%= User.totalStudents =%></td>
					<td><%= User.totalStudents("1.week.ago") =%></td>
					<td><%= User.totalStudents("1.month.ago") =%></td>
				</tr>
				<tr>
					<td>Questions Answered Per Student</td>
					<td><%= User.questionsAnswered %></td>
					<td><%= User.questionsAnswered("1.week.ago") %></td>
					<td><%= User.questionsAnswered("1.month.ago") %></td>
				</tr>
				<tr>
					<td>Minutes Spent On Portal Per Student</td>
					<td><%= User.minSpent %></td>
					<td><%= User.minSpent("1.week.ago") %></td>
					<td><%= User.minSpent("1.month.ago") %></td></tr>
				
			</table>
		</div>
	
	
	
	
	<div class="row-fluid" style="border-bottom: 1px dashed; margin-top: 25px;">
		<div class="span12" style="font-size: 200%; font-weight: bold;">
			# of Questions Available Online
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div id='chart'>
				<%= render_chart(@chart, 'chart') %>				
			</div>
		</div>
	</div>
	
</div>