<form method="POST" action="/answers/save">
	<input type="hidden" value="<%= @question.id %>" name="question_id">
	<!--add authenticity token for CSRF protection-->
			<%= token_tag(nil) %>
<select name="ans_choice"> 
	<option value=1><%= @question.ans_choice_1 %></option>
	<% (2..4).each do |num| %>
		<option value="<%= num %>"><%= @ans_choices[num] %></option>
	<% end %>
</select>

<button>Submit Answer</button>
<%= image_tag @filename, size: "950x110" %>
</form>
