

<h1> Answer for Question # <%= @question.test_number %>|Test# <%= @question.test_number %> </h1>

<p>Answer you selected: <%=@answer.selected_ans%> </p>

<ul>
<p>Test #: <%= @question.test_number %> | Section: <%= @question.section %></p>
</uL>
<ul>
<li>1.) <%= @question.ans_choice_1 %></li>
<li>2.) <%= @question.ans_choice_2 %></li>
<li>3.) <%= @question.ans_choice_3 %></li>
<li>4.) <%= @question.ans_choice_4 %></li>
<li>5.) <%= @question.ans_choice_5 %></li>
</uL>