


<div class="container-fluid">
	

	
	<div class="row-fluid">
		<div class="col-xs-12">
			<nav class="navbar navbar-default" role="navigation" style="margin-top: 15px;">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" 
				  		  class="navbar-toggle" 
						  data-toggle="collapse" 
						  data-target="#bs-example-navbar-collapse-1"
					>
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <form class="navbar-form navbar-left">
			        <div class="form-group">
						<label class="sr-only" for="test">Test</label>
						<select class="form-control" name="test">
							<option value="1MC">1MC</option>
						</select>
						<label class="sr-only" for="section">Section</label>
						<select class="form-control" name="section">
							<option value="English">English</option>
							<option value="Science">Science</option>
						</select>
						<label class="sr-only" for="question">Question</label>
						<select class="form-control" name="question">
							<option value=1>1</option>
							<option value=2>2</option>
						</select>
			        </div>
			        <button type="submit" class="btn btn-success">Go</button>
			      </form>
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#" data-toggle="tooltip" data-placement="top" title="homework problems">
						<span class="glyphicon glyphicon-file"></span>
					</a></li>
					 <li><a href="#"><span class="glyphicon glyphicon-signal"></span></a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12" style="font-weight: bold; font-size: 180%; margin-top: 25px;">
			Your current level is <span style="color: blue;"><%= @currentLevel %></span>.  
			Answer more questions correctly to get to a higher level! 
		</div>
	</div>
	
	<div class="row-fluid" style="margin-top: 25px;">
		<div class="span12" style="font-weight: bold; font-size: 130%; ">
			You've answered <%= pluralize(@numCorrect, "question") %> correctly 
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12" style="font-weight: bold; font-size: 130%; ">
			You've answered <%= pluralize(@numIncorrect, "question") %> 
			<span style="text-decoration: underline">in</span>correctly 
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12" style="font-weight: bold; font-size: 130%; margin-bottom: 25px;">
			You have not answered <%= pluralize(@notAttempted, "question") %>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12">
			<button id="toggle-breakdown-button" class="btn btn-primary">Hide Answer Summary</button>
		</div>
	</div>
	
	
	<div class="row-fluid" id="answer-breakdown-header-row" style="border-bottom: 1px dashed; margin-top: 25px;">
		<div class="span12" style="font-size: 200%; font-weight:bold;">
			Answer Summary
		</div>
	</div>
	
	<div class="row-fluid " id="answer-breakdown-content-row">
		<div class="span12">
			<div id='chart'>
				<% unless @chart.nil?%>
					<%= render_chart(@chart, 'chart') %>
				<% else %>
				<div class="alert alert-danger">Error displaying chart.</div>
				<% end %>
			</div>
		</div>
	</div>
	
	<div class="row-fluid" style="border-bottom: 1px dashed; margin-top: 25px;">
		<div class="span12" style="font-size: 200%; font-weight:bold;">
			Answer Detail
		</div>
	</div>

	<div class="row-fluid" style="margin-top: 25px;">
		<div class="span2">Section Filter</div>
		<div class="span10">
			<select id="summary-view-section-filter">
				<option selected value="all">All</option>
				<option value="english">English</option>
				<option value="math">Math</option>
				<option value="reading">Reading</option>
				<option value="science">Science</option>
			</select>
		</div>
	</div>
	
	<div class="row-fluid" style="margin-top: 5px;">
		<div class="span12">

				<table class="table table-bordered">
					<thead>
					  <tr>
						<th>Test</th>
						<th>Section</th>
						<th>Question</th>
						<th>Correct</th>
						<th>Time Taken</th>
						<th>Explanation</th>
						<th></th>
					  </tr>
					</thead>
					 <tbody>
						 <% if @summary.present? %>
						 <tr>
							 <td colspan=7 style="background-color: green; font-size: 120%; font-weight: bold">
								 Answered Correctly 
							 </td>
						 </tr>
						 <% @summary[:correct].each do |q|%>
						 	<tr>
						 		<td ><%= q[:test] %></td>
								<td class="sectioncolumn" section="<%= q[:section] %>"><%= q[:section].titlecase %></td>
								<td><%= q[:question] %></td>
								<td><%= q[:correct].titlecase %></td>
								<td><%= q[:timetaken] %></td>
								<td>
									<a href="#myModal-<%= q[:question_id] %>" role="button" class="" data-toggle="modal">
										View
									</a>
								</td>
								<%= render partial: "questions/modal", locals: {question_id: q[:question_id]} %>
								<td><a href="/answers/record/<%= q[:question_id] %>">Try Again</a></td>
						 	</tr>
						 <% end %>
						 <td colspan=7 style="background-color: red; font-size: 120%; font-weight: bold">
							 Answered <span style="text-decoration: underline;">In</span>correctly
						 </td>
						 <% @summary[:incorrect].each do |q|%>
						 	<tr>
						 		<td ><%= q[:test] %></td>
								<td class="sectioncolumn" section="<%= q[:section] %>" ><%= q[:section].titlecase %></td>
								<td><%= q[:question] %></td>
								<td><%= q[:correct].titlecase %></td>
								<td><%= q[:timetaken] %></td>
								
								<td>
									<a href="#myModal-<%= q[:question_id] %>" role="button" class="" data-toggle="modal">
										View
									</a>
								</td>
								<%= render partial: "questions/modal", locals: {question_id: q[:question_id]} %>
								<td><a href="/answers/record/<%= q[:question_id] %>">Try Again</a></td>
						 	</tr>
						 <% end %>
						 
						 <tr>
						 	<td colspan=7 style="background-color: yellow; font-size: 120%; font-weight: bold">
								 Not Answered
						 	</td>
						</tr>
						 
						 <% @summary[:not_attempted].each do |q|%>
						 	<tr>
						 		<td ><%= q[:test] %></td>
								<td class="sectioncolumn" section="<%= q[:section] %>"><%= q[:section].titlecase %></td>
								<td><%= q[:question] %></td>
								<td><%=  %></td>
								<td><%= %></td>
								
								<td><a href="#myModal-<%= q[:question_id] %>" role="button" class="" data-toggle="modal">View</a></td>
								<%= render partial: "questions/modal", locals: {question_id: q[:question_id]} %>
								<td><a href="/answers/record/<%= q[:question_id] %>">Try</a></td>
						 	</tr>
						 <% end %>
	
						 
						<% end %>
					 </tbody>
				</table>

		</div>
	</div>
</div>
