
<div class="row-fluid">
	<div class="col-xs-12">
		<p></p>
		<div class="alert alert-warning fade in">
		<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
		<strong>Please Take The Feedback Survey!</strong><br>
		If you have not already done so, please take the feedback survey for the online portal. 
		Click <a href="https://www.surveymonkey.com/s/3FB7WJ5">here</a> to take the survey.  
		</div>
		<p></p>
	</div>
</div>

<% if @viewingstudenthomework==true %>
<div class="row-fluid">
	<div class="col-xs-12">
		<p></p>
		<div class="alert alert-success">
		<strong>
			You are now viewing homework for <%= @user.firstname%> <%=@user.lastname%> (<%= @user.email %>)
		</strong><br>
		</div>
		<p></p>
	</div>
</div>
<% end %>

<% if @currentuser.usertype=="tutor" %>
<div class="row-fluid">
	<div class="col-xs-12">
		<p></p>
		<a href="<%= url_for :controller=>'homeworks', :action => 'index'%>"
		   class="btn btn-success">Assign Homework</a>
		<p></p>
	</div>
</div>
<% end %>

<% @user.homeworkAssignments.order("due asc").each do |homework| %>

<div class="row-fluid">
	<div class="col-xs-12">
		<div class="panel panel-primary">
		  <div class="panel-heading">
			  <div class="row">
				  <div class="col-xs-8">
					  <h4><%= homework.name %></h4>
				  </div>
				  <div class="col-xs-2" style="text-align: right;">
					  Due By: 
				  </div>
				  <div class="col-xs-2">
					  <span style="padding: 5px; background-color: #999999; color: black;">
						  <%= homework.due %>
					  </span>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col-xs-8"></div>
				  <div class="col-xs-2" style="text-align: right;">
					  <b>% Complete:</b>
				  </div>
				  <div class="col-xs-2">
					  <div class="progress progress-striped">
					    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=homework.pctCompleted(@user.id)%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=homework.pctCompleted(@user.id)%>%">
					      <span class="sr-only">DUMMY</span>
					    </div>
					  </div>
				  </div>
			  </div>
		  </div>
		  <div class="panel-body">
			  <div class="row">
				  <div class="col-xs-2" style="text-align: right; ">
					  <b>Homework Problems <span class="glyphicon glyphicon-arrow-right"></span> </b>
				  </div>
				  <div class="col-xs-10">
					  <% homework.questions.order("test_number, section, question_number").each do |question| %>
						<a 
							href="<%= url_for :controller=>'answers', :action=> 'record', :id=>question.id%>" 
							class="btn btn-sm <%=question.btnType(@user.id) %>"
						>
							<%=question.shortDescription %>
						</a>	
					  <% end %>
				  </div>
			  </div>

		  </div>
		</div>
	</div>
</div>

<% end %>