

<div class="row-fluid" style="margin-top: 25px;">
	<div class="col-xs-12">
		<p></p>
	</div>
</div>

<% unless @isquizresult==true %>


	<div class="row-fluid" style="margin-top: 25px;">
		<%= token_tag(nil) %>
		<div class="col-xs-10">
			<div class="well">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <label for="sectionfilter">Section &nbsp &nbsp </label>
				    <select class="form-control" id="sectionfilter" name="sectionfilter">
						<%= createOptList(Question.sectionListWithAll, @sectionfilter).html_safe %>
					</select>
				  </div>
				  <div class="form-group">
				    <label for="correctfilter">&nbsp &nbsp Correctness &nbsp &nbsp</label>
				    <select class="form-control" id="correctfilter" name="correctfilter">
						<%= createOptList(
							{
								"All"=>"all",
								"Correct"=>"correct", 
								"Incorrect"=>"incorrect",
								"Not Attempted"=>"na"
							}, @correctfilter).html_safe %>
					</select>
				  </div>
				  <div class="form-group">
				    <label for="speedfilter">&nbsp &nbsp Speed &nbsp &nbsp</label>
				    <select class="form-control" id="speedfilter" name="speedfilter">
						<%= createOptList(
							{
								"All"=>"all",
								"Fast"=>"fast", 
								"Slow"=>"slow",
							}, @speedfilter).html_safe %>
					</select>
				  </div>
				  <button type="submit" class="btn btn-default">Filter</button>
				  <a href="<%= url_for :controller=>'pages', :action=>'home'%>" class="btn btn-default">Clear Filters</a>
				</form>

				
			</div>
		</div>
		<div class="col-xs-2">
		</div>
	</div>
	
	<% else %>
	
	
	<div class="row-fluid">
		<div class="col-xs-12">
			<div class="alert alert-warning" style="font-size: 130%;">
				Congratulations!  You just finished the <strong><%= Homework.find(@quizfilter.to_i).name %></strong> quiz.  You can see your results below.    
			</div>
		</div>
	</div>
	
	<% end %>
	
	<div class="row-fluid" style="margin-top: 5px;">
		<div class="col-xs-12">

			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>Question Summary</h4>
				</div>
			
				<div class="panel-body">
					
					<table class="table table-bordered">
						<thead>
						  <tr>
							<th>Test</th>
							<th>Section</th>
							<th>Question</th>
							<th>Correct</th>
							<th>Time Taken</th>
							<th></th>
						  </tr>
						</thead>
						<tbody>
							<% @questions.each do |question| %>
							<% if question.satisfyFilters(@user.id, @filter_hash)==true %>
								<tr>
									<td><%= question.test_number%>MC</td>
									<td><%= question.section.titlecase %></td>
									<td><%= question.question_number %></td>
									<% if question.isAnswered(@user.id)==true %>
										<% if question.isCorrect(@user.id)==true %>
											<td class="greentime" style="text-align: left;">Yes</td>
										<% else %>
											<td class="redtime" style="text-align: left;">No</td>
										<% end %>
									<% else %>
									<td style="background-color: #999999;">Not Answered</td>
									<% end %>
								
									<% if question.isAnswered(@user.id)==true %>
										<% if question.fastAnswer(@user.id)==true %>
											<td class="greentime" style="text-align: left;"><%= question.answerTime(@user.id) %> (Fast)</td>
										<% else %>
											<td class="redtime" style="text-align: left;"><%= question.answerTime(@user.id) %> (Slow)</td>
										<% end %>
									<% else %>
										<td style="background-color: #999999;">n/a</td>
									<% end %>
									<td><a href="/answers/record/<%= question.id %>">Try Question</a></td>
								</tr>
							<% end %>
							<% end %>
						</tbody>
					</table>
					
					
				</div>
			</div>
		</div>
	</div>
</div>

