<div class="container-fluid">
	
	<div class="row-fluid">
		<div class="span12" style="font-weight: bold; font-size: 180%; margin-top: 25px;">
			Your current level is <span style="color: blue;"><%= @currentLevel %></span>.  
			Answer more questions correctly to get to a higher level! 
		</div>
	</div>
	
	<div class="row-fluid" style="margin-top: 25px;">
		<div class="span12" style="font-weight: bold; font-size: 130%; ">
			You've answered <%= pluralize(@numCorrect, "question") %> correctly 
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12" style="font-weight: bold; font-size: 130%; ">
			You've answered <%= pluralize(@numIncorrect, "question") %> 
			<span style="text-decoration: underline">in</span>correctly 
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12" style="font-weight: bold; font-size: 130%; ">
			You have not answered <%= pluralize(@notAttempted, "question") %>
		</div>
	</div>
	

	
	<div class="row-fluid" style="margin-top: 25px;">
		<div class="span12">

				<table class="table table-bordered">
					<thead>
					  <tr>
						<th>Test</th>
						<th>Section</th>
						<th>Queston</th>
						<th>Correct</th>
						<th>Explanation</th>
						<th></th>
					  </tr>
					</thead>
					 <tbody>
						 <% if @summary.present? %>
						 <tr>
							 <td colspan=5 style="background-color: green; font-size: 120%; font-weight: bold">
								 Answered Correctly 
							 </td>
						 </tr>
						 <% @summary[:correct].each do |q|%>
						 	<tr>
						 		<td ><%= q[:test] %></td>
								<td><%= q[:section].titlecase %></td>
								<td><%= q[:question] %></td>
								<td><%= q[:correct].titlecase %></td>
								<td><%= q[:explanation] %></td>
								<td><a href="/answers/record/<%= q[:question_id] %>">Try Again</a></td>
						 	</tr>
						 <% end %>
						 <td colspan=5 style="background-color: red; font-size: 120%; font-weight: bold">
							 Answered <span style="text-decoration: underline;">In</span>correctly
						 </td>
						 <% @summary[:incorrect].each do |q|%>
						 	<tr>
						 		<td ><%= q[:test] %></td>
								<td><%= q[:section].titlecase %></td>
								<td><%= q[:question] %></td>
								<td><%= q[:correct].titlecase %></td>
								<td><%= q[:explanation] %></td>

								<td><a href="/answers/record/<%= q[:question_id] %>">Try Again</a></td>
						 	</tr>
						 <% end %>
						 
						 <tr>
						 	<td colspan=5 style="background-color: yellow; font-size: 120%; font-weight: bold">
								 Not Answered
						 	</td>
						</tr>
						 
						 <% @summary[:not_attempted].each do |q|%>
						 	<tr>
						 		<td ><%= q[:test] %></td>
								<td><%= q[:section].titlecase %></td>
								<td><%= q[:question] %></td>
								<td><%= q[:correct].titlecase %></td>
								<td><%= q[:explanation] %></td>
								
								<td><a href="/answers/record/<%= q[:question_id] %>">Try</a></td>
						 	</tr>
						 <% end %>
	
						 
						<% end %>
					 </tbody>
				</table>

		</div>
	</div>
</div>

