
<div class="row-fluid">
	<div class="col-xs-12">
		<p></p>
<%= form_for(@homework) do |f| %>
<% if @isquiz==true%>
	<input type="hidden" name="homework[quiz]" value="true">
<% end %>
  <% if @homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
      <% @homework.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p></p>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <p></p>
  <div class="field">
    <%= f.label :due %><br />
    <%= f.date_select :due %>
  </div>
  <p></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<p></p>
</div>
</div>
