<!DOCTYPE html>
<html>
<head>
  <title>Actprep</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container-fluid">


		<div class="row-fluid" style="margin-top: 20px;">
			<div class="col-xs-12" style="text-align:center;">
				<%= image_tag "griffithfinal.jpg", alt: "Griffith Tutoring" %>
			</div>
		</div>
		<% unless defined? @hidenavbar %>
		<div class="row-fluid" >
			<div class="col-xs-12" style="text-align: center;">
				<div class="btn-group">
				    <div class="btn-group">
				      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				        Admin Tools
				        <span class="caret"></span>
				      </button>
				      <ul class="dropdown-menu">
  			            <li><a href="/users/modify">Edit Users</a></li>
  			            <li><a href="/questions/modify">Edit Questions</a></li>
  						<li><a href="/answers/dashboard">Usage Report</a></li>
				      </ul>
				    </div>
					<a href="/questions/answer" class="btn btn-default">Answer Questions</a>
					<a href="/" class="btn btn-default">Study Summary</a>
					<% if session[:user_id] %>
						<a href="/sessions/destroy" class="btn btn-default">Log Out: <%= @user_email %></a> 
					<% else %>
						<a href="/sessions/new" class="btn btn-default">Login</a> </li>
					<% end %>
				</div>
			</div>
		</div>
		<% end %>
	
		    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %> <!-- Shows if validation is off -->

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</div>

</body>
</html>
