<!DOCTYPE html>
<html>
<head>
  <title>Actprep</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container-fluid">


		<div class="row-fluid" style="margin-top: 20px;">
			<div class="col-xs-12" style="text-align:center;">
				<%= image_tag "griffithfinal.jpg", alt: "Griffith Tutoring" %>
			</div>
		</div>
		<% unless defined? @hidenavbar %>
		<div class="row-fluid" >
			<div class="col-xs-12" style="text-align: center;">
				<div class="btn-group">
					<% if @is_admin==true %>
				    <div class="btn-group">
				      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				        Admin Tools
				        <span class="caret"></span>
				      </button>
				      <ul class="dropdown-menu">
  			            <li><a href="/users/modify">Edit Users</a></li>
  			            <li><a href="/questions/modify">Edit Questions</a></li>
						<li><a href="/quizzes">Edit Quizzes</a></li>
  						<li><a href="/answers/dashboard">Usage Report</a></li>
				      </ul>
				    </div>
					<% end %>
					<a href="/questions/answer" class="btn btn-default">Answer Questions</a>
					<a href="/pages/quiz" class="btn btn-default">Take Quizzes
					</a>
					<% if @is_tutor==true %>
					<a href="/homeworks" class="btn btn-default">Student Homework</a>					
					<% else %>
					<a href="/pages/homework" class="btn btn-default">Homework</a>
					<% end %>
					<% if session[:user_id] %>
						<a href="<%= url_for :controller=>'users', :action=>'profile'%>" 
							class="btn btn-default">My Profile</a>
						<a href="/sessions/destroy" class="btn btn-default">Log Out: <%= @user_email %></a> 
					<% else %>
						<a href="/sessions/new" class="btn btn-default">Login</a> 
					<% end %>
				</div>
			</div>
		</div>
		
		<% end %>
	
		<% flash.each do |key, value| %>
		
		<div class="row-fluid">
			<div class="col-xs-12">
				<p></p>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="col-xs-12">
				<div class="alert alert-<%= key %>"><%= value %></div>
			</div>
		</div>
		
		
        
        <% end %> <!-- Shows if validation is off -->

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</div>

</body>
</html>
