<!DOCTYPE html>
<html>
<head>
  <title>Actprep</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container-fluid">
	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li <% if @active == "summary" %> class="active" <% end %> > <a href="/">Summary</a> </li>
			<li <% if @active == "answer" %> class="active" <% end %> > <a href="/questions/answer">Answer Question</a> </li>
			<li  <% if @active == "view" %> class="active" <% end %> > <a href="#">View Question</a> </li>
			<% if session[:user_id] %>
				<li>
					<a href="/sessions/destroy">Log Out: <%= @user_email %></a> 
				</li>
			<% else %>
				<li <% if @active == "login" %> class="active" <% end %> > <a href="/sessions/new">Login</a> </li>
			<% end %>
		</ul>
	</div>	
	
	

<%= yield %>



</div> <!--end of container -->
</body>
</html>
